.npmrc
.DS_Store
node_modules/
dist/
*.log
*.cache
*.package-lock.json
/packages/*/node_modules
/packages/*/lib
**/out-files/**

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
packages/dbml-core/src/parse/mssql/manual_tests.js
packages/dbml-core/benchmarks/*

# tsc
tsconfig.tsbuildinfo

packages/dbml-connector/keys
